:root {
    --dark-purple: #0b1d51;
    --light-purple: #725cad;
    --light-blue: #8ccdeb;
    --beige: #ffe3a9;
    --white: #fff;
    --black: #000;
}

* {
    font-family: "Jersey 10", sans-serif;
}

/* Start App header style */
.app-header {
    background-color: var(--dark-purple);
    width: 95%;
    height: 5%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 40px;
}

.app-header h1 {
    color: var(--white);
    letter-spacing: 5px;
    font-size: 2.5rem;
    padding: 3%;
    text-align: center;
}
/* End App header style */
