:root {
    --dark-purple: #0b1d51;
    --light-purple: #725cad;
    --light-blue: #8ccdeb;
    --beige: #ffe3a9;
    --white: #fff;
    --black: #000;
}

* {
    font-family: "Jersey 10", sans-serif;
}

body {
    background: linear-gradient(
        343deg,
        rgba(15, 7, 89, 1) 47%,
        rgba(98, 20, 166, 1) 100%
    );
    margin-top: 2%;
}

/* Start App header style */
.app-header {
    background-color: var(--light-purple);
    width: 95%;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
    /* border-radius: 40px; */
    box-shadow: 0px 1px 13px 2px rgba(0, 0, 0, 0.5);
    border: 4px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-header h1 {
    color: var(--white);
    letter-spacing: 5px;
    font-size: 2.75rem;
}

/* Start New Button style */
.btn-new {
    max-width: 120vw;
    height: 40vh;
    background-color: var(--light-blue);
    color: var(--black);
    font-size: 1.5rem;
    margin-left: 2.25vw;
    /* border-radius: 40px; */
    box-shadow: 0px 1px 13px 2px rgba(0, 0, 0, 0.3);
    border: 4px solid var(--black);
    cursor: pointer;
}

/* Start Book Content style */
.app-content {
    display: flex;
    flex-wrap: wrap;
}

.Book {
    width: 13vw;
    height: 40vh;
    border: 4px solid var(--black);
}

/* Start footer style */
footer {
    width: 100%;
    margin-top: 10%;
}
