:root {
    --dark-purple: #0b1d51;
    --light-purple: #725cad;
    --lighter-purple: #cdc1ff;
    --beige: #ffe3a9;
    --dark-beige: #d8af5c;
    --white: #fff;
    --black: #000;
}

* {
    font-family: "Jersey 10", sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

body {
    background: linear-gradient(
        343deg,
        rgba(15, 7, 89, 1) 47%,
        rgba(98, 20, 166, 1) 100%
    );
    padding-top: 2%;
    margin: 0;
}

/* Start App header style */
.app-header {
    background-color: var(--light-purple);
    width: 95%;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
    /* border-radius: 40px; */
    box-shadow: 0px 1px 13px 2px rgba(0, 0, 0, 0.5);
    border: 4px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-header h1 {
    color: var(--white);
    letter-spacing: 5px;
    font-size: 2.75rem;
}

/* Start New Button style */
.btn-new {
    width: 100%;
    min-width: 0;
    height: 44vh;
    min-height: 380px;
    max-height: 385px;
    background-color: var(--beige);
    color: var(--black);
    font-size: 1.5rem;
    box-shadow: 0px 1px 13px 2px rgba(0, 0, 0, 0.3);
    border: 4px solid var(--black);
    cursor: pointer;
}

.btn-new:hover {
    color: var(--white);
    background-color: var(--dark-beige);
}

/* Start Book Content style */
.app-content {
    max-width: 1825px;
    margin: 24px auto;
    padding: 0 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 24px; /* use pixels, not % */
    align-items: start;
    grid-auto-flow: row dense;
}

.add-col {
    grid-column: 1; /* first column */
    grid-row: 1; /* first row */
    order: -1;
}

.book {
    display: grid;
    grid-template-rows: 260px 48px 54px; /* image | price | button */
    gap: 8px;
    border: 4px solid var(--black);
    background-color: var(--lighter-purple);
    display: grid;
}

.book .book-image {
    width: 100%;
    height: 300px;
    object-fit: contain;
    display: block;
}

.book .price {
    margin: 0;
    text-align: center;
    font-size: 1.25rem;
    display: grid;
    place-items: center;
}

.info-container {
    width: 100%;
    min-width: 0;
    height: 56px;
    line-height: 56px;
    grid-row: -1;
    text-align: center;
    background-color: var(--white);
    border-top: 4px solid var(--black);
    text-decoration: none;
    display: grid;
    place-items: center;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 23px;
    cursor: pointer;
    color: black;
    z-index: 1;
}

.info-container:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.info-container:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: var(--light-purple);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.info-container:hover {
    color: var(--white);
    border-top: 4px solid var(--black);
}

.info-container:hover:before {
    top: -35%;
    background-color: var(--light-purple);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.info-container:hover:after {
    top: -45%;
    background-color: var(--light-purple);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* Start footer style */
footer {
    padding-top: 5%;
}

footer p {
    width: 100%;
    height: 15vh;
    margin-top: auto;
    margin-bottom: 0;
    background-color: var(--dark-purple);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 1.5rem;
    border-top: 2px solid var(--white);
}
