:root {
    --dark-purple: #0b1d51;
    --light-purple: #725cad;
    --neon-purple: #9112bc;
    --light-blue: #8ccdeb;
    --beige: #ffe3a9;
    --white: #fff;
    --black: #000;
}

* {
    font-family: "Jersey 10", sans-serif;
}

body {
    background: linear-gradient(
        168deg,
        rgba(15, 7, 89, 1) 29%,
        rgba(98, 20, 166, 1) 100%
    );
    margin-top: 2%;
}

/* Start App header style */
.app-header {
    background-color: var(--light-purple);
    width: 95%;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
    border-radius: 40px;
    box-shadow: 0px 1px 13px 2px rgba(0, 0, 0, 0.5);
}

.app-header h1 {
    color: var(--white);
    letter-spacing: 5px;
    font-size: 2.75rem;
    padding: 2% 0;
    text-align: center;
    align-items: center;
}

/* Start New Button style */
.btn-new {
    width: 250px;
    height: 350px;
    background-color: var(--light-blue);
    border: none;
    color: var(--black);
    font-size: 1.5rem;
    margin-left: 2.5vw;
    border-radius: 40px;
    box-shadow: 0px 1px 13px 2px rgba(0, 0, 0, 0.3);
}

/* End New Button style */
